<h1>Cadastrar Novo Pokémon</h1>
<form action="/pokemons" method="POST">
  <label for="nome">Nome:</label>
  <input type="text" id="nome" name="nome" required />

  <label for="tipo">Tipo:</label>
  <input type="text" id="tipo" name="tipo" required />

  <label for="imagem">URL da Imagem:</label>
  <input type="text" id="imagem" name="imagem" required />

  <button type="submit">Cadastrar Pokémon</button>
</form>
